/*===================== App.js =====================*/

.App {
  width: 1200px;
  margin: 20px;
}

.App-home a{
  color:#00BCD4;
  text-decoration-line: none;
}

.App-header {
  height: 100px;
  padding: 20px;
  padding-left: 100px;
  padding-right: 40px;
  color: #00BCD4;
  display: flex;
}

.App-addPost {
  padding: 20px;
  flex: 3;
  text-align: right;
}

/*===================== AddPost.js =====================*/

.Add-title {
  text-align: left;
  padding-left: 10%;
}

.Add-content {
  text-align: center;
}

.Add-publish {
  text-align: right;
  padding-right: 10%;
}

/*===================== Blog.js =====================*/

.Blog-postLists {
  margin-left: 40px;
  display: inline-block;
  text-align: left;
  width: 100%;
}

.Blog-Post {
  word-break: break-all;
  width: 50%;
  display: flex;
  margin: 10px;
  padding: 20px;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  border: solid 1px rgba(51,51,51,0.12);
  background-color: rgba(248, 248, 248, 0.5);
}

.Blog-postLists a{
  color:black;
  text-decoration-line: none;
}

.Blog-Post-title {
  margin-top: 2%;
  font-size: 150%;
  font-weight: bold;
  flex: 3;
  text-align: left;
}

.Blog-Post-time {
  color: gray;
  flex: 1;
  text-align: right;
  font-size: 80%;
  margin: 5% 0% 0% 0%;
}

/*===================== Post.js =====================*/

.Post {
  margin: 0% 0% 10% 10%;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  word-break: break-all;
}

.Post-title {
  border-bottom: thick solid #00BCD4;
  width: 60%;
}

.Post-time {
  margin-top: 10px;
  color: gray;
}

.Post-content {
  margin-top: 50px;
}